#about-me1{
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 2.5s, 5s, 1s;
    animation-iteration-count: 2, 1, 5;
}
#about-me2{
    animation-name: slidein;
}
#about-me3{
    animation-name: slidein;
}